<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <div class="table-responsive">
      <table class="table table-bordered table-hove">
        <tbody>
          <tr>
            <th class="active">id</th>
            <td><%= @tourist_spot.id %></td>
          </tr>

          <tr>
            <th class="active">登録日</th>
            <td><%= @tourist_spot.created_at.to_s(:datetime_jp) %></td>
          </tr>

          <tr>
            <th class="active">最終更新日</th>
            <td><%= @tourist_spot.updated_at.to_s(:datetime_jp) %></td>
          </tr>

          <tr>
            <th class="active">画像</th>
            <td>
              <%= image_tag @tourist_spot.images[0].to_s, class: "img-thumbnail" %>
            </td>
          </tr>

          <tr>
            <th class="active">地名・施設名</th>
            <td><%= @tourist_spot.name %></td>
          </tr>

          <tr>
            <th class="active">ジャンル</th>
            <td><%= @tourist_spot.genre.name %></td>
          </tr>

          <tr>
            <th class="active">利用シーン</th>
            <td><%= @tourist_spot.scene.name %></td>
          </tr>

          <tr>
            <th class="active">紹介文</th>
            <td><%= @tourist_spot.introduction %></td>
          </tr>

          <tr>
            <th class="active">住所</th>
            <td>
              <% if @tourist_spot.postcode %>
              <%= @tourist_spot.full_address %>
              <% end %>
            </td>
          </tr>

          <tr>
            <th class="active">電話番号</th>
            <td>
              <%= @tourist_spot.phone_number %>
            </td>
          </tr>

          <tr>
            <th class="active">アクセス方法</th>
            <td><%= @tourist_spot.access %></td>
          </tr>

          <tr>
            <th class="active">営業時間</th>
            <td><%= @tourist_spot.business_hour %></td>
          </tr>

          <tr>
            <th class="active">駐車場</th>
            <td><%= @tourist_spot.is_parking %></td>
          </tr>

        </tbody>
      </table>
    </div>

    <%= link_to "レビュー一覧", admin_tourist_spot_reviews_path(@tourist_spot), class: "btn btn-success btn-block" %>
    <%= link_to "編集", edit_admin_tourist_spot_path(@tourist_spot), class: "btn btn-primary btn-block" %>
    <%= link_to "削除", admin_tourist_spot_path(@tourist_spot), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-block" %>

    <div class="col-xs-2"></div>
  </div>