<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6 devise">

    <div class="devise__link">
      <%= render "users/shared/links" %>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), builder: CustomFormBuilder) do |f| %>

    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">×</span>
      </button>
      <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <%- end -%>
      <p><a href="#" data-dismiss="alert">閉じる</a></p>
    </div>

    <% if flash[:error].present? %>
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">×</span>
      </button>
      <%= flash[:error] %>
      <p><a href="#" data-dismiss="alert">閉じる</a></p>
    </div>
    <% end %>

    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control devise__form" %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control devise__form" %>
    </div>

    <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "記憶する" %>
    </div>
    <% end %>

    <div class="actions devise__button">
      <%= f.submit "ログイン", class: "btn btn-danger btn-lg btn-block" %>
    </div>
    <% end %>

    <div devise__forget>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "パスワードをお忘れの方はこちら", new_password_path(resource_name) %><br />
      <% end %>
    </div>

  </div>
  <div class="col-xs-3"></div>
</div>