<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <table class="table table-bordered table-hove">
      <tbody>
        <tr>
          <th class="active">id</th>
          <td><%= @review.id %></td>
        </tr>

        <tr>
          <th class="active">登録日</th>
          <td><%= @review.created_at %></td>
        </tr>

        <tr>
          <th class="active">最終更新日</th>
          <td><%= @review.updated_at %></td>
        </tr>

        <tr>
          <th class="active">画像</th>
          <td>
            <%= image_tag @review.images[0].to_s %>
          </td>
        </tr>

        <tr>
          <th class="active">タイトル</th>
          <td><%= @review.title %></td>
        </tr>

        <tr>
          <th class="active">本文</th>
          <td><%= @review.body %></td>
        </tr>

        <tr>
          <th class="active">点数</th>
          <td><%= @review.score %></td>
        </tr>

        <tr>
          <th class="active">ステータス</th>
          <td><%= @review.is_value %></td>
        </tr>

      </tbody>
    </table>
    <%= link_to "編集", edit_admin_tourist_spot_review_path(@review.tourist_spot, @review), class: "btn btn-primary btn-block" %>
    <%= link_to "削除", admin_tourist_spot_review_path(@review.tourist_spot, @review), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-block" %>

  </div>
  <div class="col-xs-2"></div>
</div>

<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <table class="table">
      <thead>
        <tr>
          <th>投稿者</th>
          <th>タイトル</th>
          <th>本文</th>
          <th>投稿日時</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @comments.each do |comment| %>
        <tr>
          <td><%= link_to comment.user.name, admin_user_path(comment.user) %></td>
          <td><%= comment.title %></td>
          <td><%= comment.body %></td>
          <td><%= comment.created_at %></td>
          <td>
            <%= link_to "編集", edit_admin_comment_path(comment), class: "btn btn-primary" %>
            <%= link_to "削除", admin_comment_path(comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
  <div class="col-xs-2"></div>
</div>