<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
		<%= form_with model: @genre, url: admin_genres_path, local: true, builder: CustomFormBuilder do |f| %>
		<div class="image-container">
			<%= f.file_field :image, id: "img_field", style: 'display:none;' %>
			<%= attachment_image_tag @genre, :image, size: "200x200", fallback: "no_image.png", onClick: "$('#img_field').click()", class: "img_prev img-thumbnail" %><br>
		</div>
		<%= f.text_field :name, placeholder: "ジャンル名", class: "form-control" %>
		<%= f.submit "新規登録", class: "btn btn-success btn-block genre__button" %>
		<div class="col-xs-4"></div>
		<% end %>
	</div>
</div>

<div class="row genre__table">
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr class="active">
					<th>ID</th>
					<th>写真</th>
					<th>ジャンル名</th>
					<th></th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% @genres.each do |genre| %>
				<tr>
					<td><%= link_to genre.id, admin_genre_path(genre) %></td>
					<td>
						<%= attachment_image_tag genre, :image, size: "100x100", fallback: "no_image.png", class: "img-thumbnail" %>
					</td>
					<td><%= genre.name %></td>
					<td><%= link_to "編集", edit_admin_genre_path(genre), class: "btn btn-primary btn-block" %></td>
					<td>
						<%= link_to "削除", admin_genre_path(genre), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-block" %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<%= paginate @genres %>