<%= form_with model: @scene, url: admin_scenes_path, local: true, builder: CustomFormBuilder do |f| %>
<div class="row">
	<div class="col-xs-3">
		<%= f.text_field :name, placeholder: "利用シーン名", class: "form-control" %>
	</div>
	<div>
		<div class="col-xs-2">
			<%= f.submit "新規登録", class: "btn btn-success" %>
		</div>
	</div>
</div>


<% end %>

<table class="table table-bordered table-hover scene__table">
	<thead>
		<tr class="active">
			<th>ID</th>
			<th>写真</th>
			<th>利用シーン名</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @scenes.each do |scene| %>
		<tr>
			<td><%= link_to scene.id, admin_scene_path(scene) %></td>
			<td>
				<%= attachment_image_tag scene, :image, size: "100x100", fallback: "no_image.png", class: "img-thumbnail" %>
			</td>
			<td><%= scene.name %></td>
			<td><%= link_to "編集", edit_admin_scene_path(scene), class: "btn btn-primary btn-block" %></td>
			<td>
				<%= link_to "削除", admin_scene_path(scene), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-block" %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= paginate @scenes %>