<div class="row">
  <div class="col-xs-8"></div>
  <div class="col-xs-4">
    <div class="row">
      <%= form_with url: user_user_keyword_search_path, method: :get, local: true do %>
      <div class="col-xs-9 keyword-search">
        <%= text_field_tag :search, '', placeholder: "ユーザーキーワード検索", class: "form-control" %>
      </div>
      <div class="col-xs-3">
        <%= submit_tag '検索', name: nil, class: "btn btn-info btn-block" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <% users.each.with_index(1) do |user, index| %>
  <div class="col-xs-4">
    <div class="ribbon-wrapper">
      <div class="thumbnail">
        <span class="ribbon">
          <% case index when 1 %>
          <i class="fas fa-crown" style="color: gold;"></i>
          <% when 2 %>
          <i class="fas fa-crown" style="color: silver;"></i>
          <% when 3 %>
          <i class="fas fa-crown" style="color: #B08A1C;"></i>
          <% else %>
          <%= index %>
          <% end %>
        </span>
        <%= link_to user_user_path(user), class: "user__image" do %>
        <%= attachment_image_tag user, :profile_image, size: "350x350", fallback: "no_image.png" %>
        <% end %>
        <div class="caption">
          <p>
            <% case user.rank when "レギュラー" %>
            <span class="label label-default">
              <%= user.rank %>
            </span>
            <% when "シルバー" %>
            <span class="label label-primary">
              <%= user.rank %>
            </span>
            <% when "ゴールド" %>
            <span class="label label-warning">
              <%= user.rank %>
            </span>
            <% when "プラチナ" %>
            <span class="label label-info">
              <%= user.rank %>
            </span>
            <% when "ダイヤモンド" %>
            <span class="label label-danger">
              <%= user.rank %>
            </span>
            <% end %>
            </h3>
          </p>
          <p>
            <%= user.name %>
            ( <%= user.age %>歳 <%= user.sex %> )
          </p>

          <p>
            <%= truncate(user.introduction, length: 20) %>
          </p>

          <p>
            <span id="follower-link_<%= user.id %>" role=" presentation">
              <%= link_to "#{user.followed.count}フォロワー", user_follower_path(user) %>
            </span>

            <span id="followbutton_<%= user.id %>" class="user__button">
              <% unless user == current_user %>
              <%= render "user/users/followbutton", user: user %>
              <% end %>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>