<h1>ユーザー編集画面</h1>

<%= form_with model: @user, url: edit_admin_user_path(@user), local: true do |f| %>

  <%= f.attachment_field :header_image %><br>

  <%= f.attachment_field :profile_image %><br>

  <%= f.label :nickname, "ニックネーム" %><br>
  <%= f.text_field :nickname %><br>

  <%= f.label :introduction, "自己紹介" %><br>
  <%= f.text_area :introduction %><br>

  <%= f.label :postcode, "郵便番号" %><br>
  <%= f.text_field :postcode %><br>

  <%= f.label :prefecture_name, '都道府県' %><br>
  <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, include_blank: true %><br>

  <%= f.label :address_city, "市区町村" %><br>
  <%= f.text_field :address_city %><br>

  <%= f.label :address_street, "番地" %><br>
  <%= f.text_field :address_street %><br>

  <%= f.label :address_building, "建物" %><br>
  <%= f.text_field :address_building %><br>

  <%= f.label :email, "メールアドレス" %><br>
  <%= f.email_field :email %><br>

  <%= f.submit "保存" %>

<% end %>
