<div class="row">
  <% @user.following_user.each do |user| %>
  <div class="col-xs-3">
    <div class="thumbnail">
      <div class="caption">
        <p>
          <%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", class: "img-circle", size: '40x40' %>
          <%= link_to user.name, user_user_path(user) %>
        </p>

        <%= link_to  "#{@user.follower.count}フォロー中", user_following_path(@user) %><br>
        <%= link_to  "#{@user.followed.count}フォロワー", user_follower_path(@user) %>

        <span class="user__followbutton" id="followbutton_<%= @user.id %>">
          <% unless user == current_user %>
          <%= render "user/users/followbutton", user: @user %>
          <% end %>
        </span>
      </div>
    </div>
  </div>
  <% end %>
</div>