<div class="row user">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <table class="table">
      <tbody>
        <tr>
          <td>
            <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", class: "img-thumbnail user__image" %>

            <span class="user__name">
              <%= @user.name %>
            </span>

            <% if user_signed_in? %>
            <%= link_to "プロフィールを編集", edit_user_user_path(@user) %>
            <% end %>
            <% if user_signed_in? %>
            <div id="followbutton_<%= @user.id %>">
              <% unless @user == current_user %>
              <%= render "user/users/followbutton", user: @user %>
              <% end %>
            </div>
            <% end %>

            <% if user_signed_in? %>
            <% unless @user.id == current_user.id %>
            <% if @isRoom == true %>
            <%= link_to "ダイレクトメッセージ", user_room_path(@roomId) %>
            <% else %>
            <%= form_with model: @room, url: user_rooms_path, local: true do |f| %>
            <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, value: @user.id %>
            <% end %>
            <%= f.submit "チャットを始める", class: "btn btn-success user__button" %>
            <% end %>
            <% end %>
            <% end %>
            <% end %>

            <p><%= @user.introduction %></p>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>

    <ul class="nav nav-tabs nav-justified">
      <li role="presentation"><%= link_to "ユーザートップ", user_user_path(@user) %></li>
      <li role="presentation"><%= link_to "行った観光地", user_user_went_tourist_spots_path(@user) %></li>
      <li role="presentation"><%= link_to "行きたい観光地", user_user_favorite_tourist_spots_path(@user) %></li>
      <li role="presentation"><%= link_to  "#{@user.follower.count}フォロー中", user_following_path(@user) %></li>
      <li role="presentation"><%= link_to  "#{@user.followed.count}フォロワー", user_follower_path(@user) %></li>
    </ul>
  </div>
  <div class="col-xs-2"></div>
</div>

<div class="row user__reviews">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <%= render "user/reviews/reviews", reviews: @user.reviews %>
  </div>
  <div class="col-xs-4"></div>
</div>