<%= provide(:title, "トップ") %>

<div class="row">
	<div class="col-xs-12 homes-top">

		<div class="page-header">
			<h3>ジャンルから探す</h3>
		</div>
		<div class="row">
			<% @genre.each do |genre| %>
			<div class="col-xs-3 top__search-container">
				<%= link_to user_genre_search_path(search: genre.id) do %>
				<div class="img-thumbnail">
					<%= attachment_image_tag genre, :image, :fill, 200, 200, fallback: "no_image.png", size: '200x200' %>
					<div class="caption">
						<p class="top__search-text"><%= genre.name %></p>
					</div>
				</div>
				<% end %>
			</div>
			<% end %>
		</div>

		<div class="page-header">
			<h3>利用シーンから探す</h3>
		</div>
		<div class="row">
			<% @scene.each do |scene| %>
			<div class="col-xs-3 top__search-container">
				<%= link_to user_scene_search_path(search: scene.id) do %>
				<div class="img-thumbnail">
					<%= attachment_image_tag scene, :image, :fill, 200, 200, fallback: "no_image.png", size: '200x200' %>
					<div class="caption">
						<p class="top__search-text"><%= scene.name %></p>
					</div>
				</div>
				<% end %>
			</div>
			<% end %>
		</div>

		<div class="page-header">
			<h3>都道府県から探す</h3>
		</div>
		<div class="row">
			<% JpPrefecture::Prefecture.all.each do |prefecture| %>
			<div class="col-xs-2 top__search-container">
				<%= link_to user_prefecture_search_path(search: prefecture.code) do %>
				<%= image_tag "prefectures/#{ prefecture.name }.jpg", size: "150x100" %>
				<p class="top__search-text"><%= prefecture.name %></p>
				<% end %>
			</div>
			<% end %>
		</div>

		<div class="page-header">
			<h3>おすすめ観光地</h3>
		</div>
		<div class="row">
			<% if @tourist_spots_rank.present? %>
			<% @tourist_spots_rank.each.with_index(1) do |tourist_spot, index| %>
			<div class="col-xs-4">
				<%= link_to user_tourist_spot_path(tourist_spot) do %>
				<div class="tourist-spot__container ribbon-wrapper">
					<span class="ribbon">
						<td class="text-center">
							<% case index when 1 %>
							<i class="fas fa-crown" style="color: gold;"></i>
							<% when 2 %>
							<i class="fas fa-crown" style="color: silver;"></i>
							<% when 3 %>
							<i class="fas fa-crown" style="color: #B08A1C;"></i>
							<% else %>
							<%= index %>
							<% end %>
					</span>
					<%= image_tag tourist_spot.images[0].to_s, class: "tourist-spot__container--image" %>
					<div class="tourist-spot__container--box">
						<div class="col-xs-7 tourist-spot__container--image">
							<%= tourist_spot.name %>
						</div>
						<div class="col-xs-5">
							<div class="tourist-spot__score">
								<%= tourist_spot.average_score %>点
							</div>
						</div>
					</div>
				</div>
				<% end %>
			</div>
			<% end %>
			<% else %>
			<p class="tourist-spot__text">観光スポットがありません</p>
			<% end %>
		</div>

		<div class="top__ranking-link">
			<%= link_to user_tourist_spot_ranking_path do %>
			<i class="fas fa-caret-right" style="color: #FFCC33;"></i> 観光地ランキングへ
			<% end %>
		</div>

		<div class="page-header">
			<h3>新着</h3>
		</div>
		<%= render 'user/tourist_spots/tourist_spots', tourist_spots: @tourist_spots_new %>

		<div class="page-header">
			<h3>ユーザーを探す</h3>
		</div>
		<%= render 'user/users/users', users: @users_rank %>

		<div class="top__ranking-link">
			<%= link_to user_user_ranking_path do %>
			<i class="fas fa-caret-right" style="color: #FFCC33;"></i> ユーザーランキングへ
			<% end %>
		</div>

		<div class="page-header">
			<h3>周辺の観光地</h3>
		</div>

		<!-- Google Map -->

		<div id='map'></div>

		<style>
			#map {
				height: 800px;
				width: 100%;
			}
		</style>

		<script>
			let map;
			let marker = [];
			let infoWindow = [];
			let markerData = gon.tourist_spots;

			function initMap() {
				navigator.geolocation.getCurrentPosition(function (position) {
					LatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

					// 地図の作成
					console.log(markerData[0]['latitude']);
					// var mapLatLng = new google.maps.LatLng({lat: position.coords.latitude, lng: position.coords.longitude}); // 緯度経度のデータ作成
					map = new google.maps.Map(document.getElementById('map'), { // #mapに地図を埋め込む
						center: LatLng, // 地図の中心を指定
						zoom: 15 // 地図のズームを指定
					});

					// マーカー毎の処理
					for (var i = 0; i < markerData.length; i++) {
						let id = markerData[i]['id']

						markerLatLng = new google.maps.LatLng({
							lat: markerData[i]['latitude'],
							lng: markerData[i]['longitude']
						}); // 緯度経度のデータ作成
						marker[i] = new google.maps.Marker({ // マーカーの追加
							position: markerLatLng, // マーカーを立てる位置を指定
							map: map // マーカーを立てる地図を指定
						});

						infoWindow[i] = new google.maps.InfoWindow({ // 吹き出しの追加
							content: `<a href='/user/tourist_spots/${id}'>詳細を見る</a>` + markerData[i]['name'] // 吹き出しに表示する内容
						});

						markerEvent(i); // マーカーにクリックイベントを追加
					}
				})
			}

			// マーカーにクリックイベントを追加
			function markerEvent(i) {
				marker[i].addListener('click', function () { // マーカーをクリックしたとき
					infoWindow[i].open(map, marker[i]); // 吹き出しの表示
				});
			}
		</script>

		<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer>
		</script>

		<!-- Google Map -->

	</div>
</div>