<% reviews.each do |review| %>
<div class="thumbnail">
  <%= link_to user_tourist_spot_review_path(review.tourist_spot, review) do %>
  <% if review.images.present? %>
  <%= image_tag review.images[0].to_s, class: "review__image" %>
  <% else %>
  <%= image_tag "no_image.png", class: "review__image" %>
  <% end %>
  <% end %>
  <div class="caption">
    <p>
      <%= attachment_image_tag review.user, :profile_image, fallback: "no_image.png", size: "50x50", class: "img-circle" %>
      <%= link_to review.user.name, user_user_path(review.user), class: "review__name" %>
      (<%= review.user.sex %>・<%= review.is_value %>)
      <span class="review__score">
        <%= review.score %>点
      </span>
    </p>
    <p>
      <%= link_to review.title, user_tourist_spot_review_path(review.tourist_spot, review), class: "review__comment-title" %>
    </p>
    <p><%= review.body %></p>
    <% if user_signed_in? %>
    <span id="likebutton_<%= review.id %>">
      <%= render "user/reviews/likebutton", review: review %>
    </span>
    <%= link_to user_tourist_spot_review_path(review.tourist_spot, review), class: "review__comment-link" do %>
    <i class="fas fa-comment-dots">コメント</i>
    <% end %>
    <% end %>
  </div>
</div>
<% end %>