<h1>レビュー詳細画面</h1>

<%= label_tag :タイトル %><br>
<%= @review.title %><br>

<%= label_tag :本文 %><br>
<%= @review.body %><br>

<%= label_tag :点数 %><br>
<%= @review.score %><br>

<%= label_tag :ステータス %><br>
<%= @review.is_value %><br>

<% if @review.liked_by?(current_user) %>
  <%= link_to user_tourist_spot_review_likes_path(@review.tourist_spot, @review), method: :delete do %>
    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
    <%= @review.likes.count %>
  <% end %>
<% else %>
  <%= link_to user_tourist_spot_review_likes_path(@review.tourist_spot, @review), method: :post do %>
    <i class="fa fa-heart-o" aria-hidden="true"></i>
    <%= @review.likes.count %>
  <% end %>
<% end %>

<% if @review.user === current_user %>
  <%= link_to "編集", edit_user_tourist_spot_review_path(@review) %>
  <%= link_to "削除", user_tourist_spot_review_path(@review), method: :delete, data: { confirm: "本当に削除しますか？" } %>
<% end %>

<%= form_with model: @comment, url: user_comments_path, local: true do |f| %>

<%= f.label :title, "タイトル" %><br>
<%= f.text_field :title %><br>

<%= f.label :body, "本文" %><br>
<%= f.text_area :body %><br>

<%= f.hidden_field :review_id, value: @review.id %>

<%= f.submit "投稿" %>

<% end %>

<table>
	<thead>
		<tr>
			<th>タイトル</th>
			<th>本文</th>
      <th></th>
		</tr>
	</thead>

	<tbody>
		<% @comments.each do |comment| %>
		<tr>
			<td><%= comment.title %></td>
			<td><%= comment.body %></td>
      <td>
        <% if comment.user === current_user %>
          <%= link_to "編集", edit_user_comment_path(comment) %>
          <%= link_to "削除", user_comment_path(comment), method: :delete, data: { confirm: "本当に削除しますか？" } %>
        <% end %>
      </td>
		</tr>
		<% end %>
	</tbody>
</table>