<%= provide(:title, "レビュー 詳細") %>

<div class="row page-header">
  <div class="page-header review__title">
    <%= @review.title %>
    <% if user_signed_in? %>
    <% if @review.liked_by?(current_user) %>
    <%= link_to user_tourist_spot_review_likes_path(@review.tourist_spot, @review), method: :delete do %>
    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
    <%= @review.likes.count %>
    <% end %>
    <% else %>
    <%= link_to user_tourist_spot_review_likes_path(@review.tourist_spot, @review), method: :post do %>
    <i class="fa fa-heart-o" aria-hidden="true"></i>
    <%= @review.likes.count %>
    <% end %>
    <% end %>
    <% end %>
    <div class="review__score">
      <%= @review.score %>点
    </div>
  </div>

  <ul class="bxslider">
    <% @review.images.each do |image| %>
    <li>

      <%= image_tag image.to_s %>
    </li>
    <% end %>
  </ul>

  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <table class="table">
      <tbody>
        <tr>
          <td>
            <%= attachment_image_tag @review.user, :profile_image, fallback: "no_image.jpg",size: "50x50", class: "img-circle" %>
            <%= link_to @review.user.name, user_user_path(@review.user) %>
            ( <%= @review.user.age %>歳<%= @review.user.sex %>・<%= @review.is_value %> )
            <% @user = @review.user %>
            <% if user_signed_in? %>
            <span id="followbutton_<%= @user.id %>">
              <% unless @user == current_user %>
              <%= render "user/users/followbutton", user: @user %>
              <% end %>
            </span>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= @review.body %></td>
        </tr>
      </tbody>
    </table>
    <% if @review.user === current_user %>
    <%= link_to "編集", edit_user_tourist_spot_review_path(@review), class: "btn btn-primary" %>
    <%= link_to "削除", user_tourist_spot_review_path(@review), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
    <% end %>

  </div>

  <div class="col-xs-2"></div>
</div>

<div class="row review">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
    <% if user_signed_in? %>
    <%= form_with model: @comment, url: user_tourist_spot_review_comments_path(@review.tourist_spot, @review), local: true, builder: CustomFormBuilder do |f| %>

    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title, class: "form-control comment_title" %><br>

    <%= f.label :body, "本文" %><br>
    <%= f.text_area :body, class: "form-control comment_body" %><br>

    <%= f.hidden_field :review_id, value: @review.id %>

    <%= f.submit "投稿", class: "btn btn-success btn-block" %>

    <% end %>
    <% end %>

    <% if @comments.present? %>
    <table class="table review__comment-table">
      <thead>
        <tr>
          <th>投稿者</th>
          <th>タイトル</th>
          <th>本文</th>
          <th>投稿日時</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @comments.each do |comment| %>
        <tr>
          <td>
            <%= attachment_image_tag comment.user, :profile_image, fallback: "no_image.jpg", size: '50x50', class: "img-circle" %>
            <%= link_to comment.user.name, user_user_path(comment.user) %>
          </td>
          <td><%= comment.title %></td>
          <td><%= comment.body %></td>
          <td><%= comment.created_at.to_s(:datetime_jp) %></td>
          <td>
            <% if comment.user === current_user %>
            <%= link_to "編集", edit_user_tourist_spot_review_comment_path(@review.tourist_spot, @review, comment), class: "btn btn-primary" %>
            <%= link_to "削除", user_tourist_spot_review_comment_path(@review.tourist_spot, @review, comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
            <% end %>
          </td>
        </tr>
        <% end %>
    </table>
    <% else %>
    <p class="review__text">コメントはありません。</p>
    <% end %>

    <div class="col-xs-3"></div>
  </div>
</div>

<%= paginate @comments %>