<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6 contact">

    <%= form_with model: @contact, url: user_contacts_path, local: true, builder: CustomFormBuilder do |f| %>

    <%= f.label :name, "氏名" %>
    <span class="contact__require-label">必須</span><br>
    <%= f.text_field :name, class: "form-control" %><br>

    <%= f.label :email, "メールアドレス" %>
    <span class="contact__require-label">必須</span><br>
    <%= f.text_field :email, class: "form-control" %><br>

    <%= f.label :title, "タイトル" %><span class="contact__require-label">必須</span><br>
    <%= f.text_field :title, class: "form-control" %><br>

    <%= f.label :body, "本文" %>
    <span class="contact__require-label">必須</span><br>
    <%= f.text_area :body, class: "form-control" %><br>

    <%= f.submit "送信", class: "btn btn-success btn-lg btn-block" %>

    <% end %>

    <div class="col-xs-3"></div>
  </div>
</div>