<div class="row page-header tourist-spot__title">
  <div class="col-xs-6">
    <%= tourist_spot.name %>
    <div class="tourist-spot__score">
      <%= tourist_spot.average_score %>点
    </div>
  </div>

  <div class="col-xs-6">
    <div class="tourist-spot__button-2">
      <% if user_signed_in? %>
      <span id="favoritebutton_<%= tourist_spot.id %>">
        <%= render 'user/tourist_spots/favoritebutton', tourist_spot: tourist_spot %>
      </span>

      <span id="wentbutton_<%= tourist_spot.id %>">
        <%= render 'user/tourist_spots/wentbutton', tourist_spot: tourist_spot %>
      </span>
      <% end %>
      <%= link_to "https://twitter.com/share?url=#{request.url}&text=#{ @tourist_spot.name }を、Twitterでみんなに広めよう！", class: 'shareList__link icon-twitter btn btn-info', data: { show_count: false }, title: 'Twitter', target: '_blank' do %>
      <i class="fab fa-twitter"> Twitterでシェア</i>
      <% end %>
    </div>
  </div>
</div>

<ul class="bxslider">
  <% tourist_spot.images.each do |image| %>
  <li>
    <%= image_tag image.to_s %>
  </li>
  <% end %>
</ul>



<ul class="nav nav-tabs nav-justified">
  <li role="presentation"><%= link_to "観光地トップ", user_tourist_spot_path(tourist_spot) %></li>
  <li role="presentation"><%= link_to "レビュー一覧", user_tourist_spot_reviews_path(tourist_spot) %></li>
  <li role="presentation"><%= link_to  "レビュー投稿", new_user_tourist_spot_review_path(tourist_spot) %></li>
  <li role="presentation"><%= link_to  "地図", user_tourist_spot_map_path(tourist_spot) %></li>
</ul>