<h1>観光スポット一覧画面</h1>

<table class="table table-hover">
	<thead>
		<tr>
			<th>地名・施設名</th>
			<th>紹介文</th>
			<th>ジャンル</th>
			<th>利用シーン</th>
      <th>住所</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @tourist_spots.each do |tourist_spot| %>
		<tr>
			<td><%= link_to tourist_spot.name, user_tourist_spot_path(tourist_spot) %></td>
			<td><%= tourist_spot.introduction %></td>
			<td><%= tourist_spot.genre.name %></td>
			<td><%= tourist_spot.scene.name %></td>
      <td><%= tourist_spot.full_address %></td>
			<td>
				<% if tourist_spot.favorited_by?(current_user) %>
					<%= link_to "行きたい！から削除", user_tourist_spot_favorites_path(tourist_spot), method: :delete %>
				<% else %>
					<%= link_to "行きたい！", user_tourist_spot_favorites_path(tourist_spot), method: :post %>
				<% end %>
			</td>
			<td>
				<% if tourist_spot.wented_by?(current_user) %>
					<%= link_to "行った！から削除", user_tourist_spot_wents_path(tourist_spot), method: :delete %>
				<% else %>
					<%= link_to "行った！", user_tourist_spot_wents_path(tourist_spot), method: :post %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>