<%= provide(:title, "観光スポット 写真一覧") %>

<div class="row">

  <%= render 'detail', tourist_spot: @tourist_spot %>

  <% @reviews.each do |review| %>
  <% review.images.each do |image| %>
  <div class="col-xs-2">
    <div class="img-thumbnail">
      <%= link_to image.url, 'data-lightbox': image, class: "tourist-spot__images" do %>
      <%= image_tag image.to_s, size: "150x100" %>
      <% end %>
      <div class="caption">
        <p>投稿者 : <%= link_to review.user.name, user_user_path(review.user) %></p>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>

</div>