<div class="row">
  <div class="col-xs-12 tourist-spot">

    <%= render 'detail', tourist_spot: @tourist_spot %>

    <div class="row">
      <div class="col-xs-3">
        <%= render 'weather', tourist_spot: @tourist_spot %>
      </div>
      <div class="col-xs-9">
        <div id='map'></div>

        <style>
          #map {
            height: 600px;
            width: 100%;
            margin-top: 30px;
          }
        </style>

        <script>
          let map

          function initMap() {
            geocoder = new google.maps.Geocoder()

            map = new google.maps.Map(document.getElementById('map'), {
              center: {
                lat: <%= @tourist_spot.latitude %> ,
                lng: <%= @tourist_spot.longitude %>
              },
              zoom: 12,
            });

            marker = new google.maps.Marker({
              position: {
                lat: <%= @tourist_spot.latitude %> ,
                lng: <%= @tourist_spot.longitude %>
              },
              map: map
            });
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCErCcqk6eIxWC2DG4pgYLGfgwnfpAjAVo&callback=initMap"
          asyncdefer></script>
      </div>
    </div>
  </div>
</div>