<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">

    <div class="page-header">
      <h3>観光地ランキング TOP10</h3>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-center">順位</th>
            <th class="text-center">観光地名</th>
            <th class="text-center">行きたい！数</th>
            <th class="text-center">行った数</th>
            </th>
          </tr>
        </thead>

        <tbody>
          <% @tourist_spots.each.with_index(1) do |tourist_spot, index| %>
          <tr>
            <td class="text-center">
              <% case index when 1 %>
              <i class="fas fa-crown" style="color: gold;"></i>
              <% when 2 %>
              <i class="fas fa-crown" style="color: silver;"></i>
              <% when 3 %>
              <i class="fas fa-crown" style="color: #B08A1C;"></i>
              <% else %>
              <%= index %>
              <% end %>
            </td>

            <td>
              <%= link_to user_tourist_spot_path(tourist_spot) do %>
              <%= image_tag tourist_spot.images[0].to_s, size: "100x100", class: "img-circle" %>
              <%= tourist_spot.name %>
              <% end %>
            </td>

            <td><%= tourist_spot.wents.count %></td>
            <td><%= tourist_spot.favorites.count %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
  <div class="col-xs-2"></div>
</div>