<div class="row">
  <div class="col-xs-12 tourist-spot">

    <%= render 'detail', tourist_spot: @tourist_spot %>

    <div class="row">
      <div class="col-xs-3">
        <%= render 'weather', tourist_spot: @tourist_spot %>
      </div>

      <div class="col-xs-9">
        <table class="table table-bordered tourist-spot__table">
          <tbody>
            <tr>
              <th class="active">説明文</th>
              <td><%= @tourist_spot.introduction %></td>
            </tr>
            <tr>
              <th class="active">ジャンル</th>
              <td><%= @tourist_spot.genre.name %></td>
            </tr>
            <tr>
              <th class="active">利用シーン</th>
              <td><%= @tourist_spot.scene.name %></td>
            </tr>
            <tr>
              <th class="active">住所</th>
              <td><%= @tourist_spot.full_address %></td>
            </tr>
            <tr>
              <th class="active">アクセス方法</th>
              <td><%= @tourist_spot.access %></td>
            </tr>
            <tr>
              <th class="active">営業時間</th>
              <td><%= @tourist_spot.business_hour %></td>
            </tr>
            <tr>
              <th class="active">駐車場</th>
              <td><%= @tourist_spot.is_parking %></td>
            </tr>
          </tbody>
        </table>

        <div class="tourist-spot__button-2">
          <% if @tourist_spot.user === current_user %>
          <%= link_to "編集", edit_user_tourist_spot_path(@tourist_spot), class: "btn btn-primary" %>
          <%= link_to "削除", user_tourist_spot_path(@tourist_spot), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>