<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6 devise">
    <h2>パスワード再設定</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "新しいパスワード" %><br />
      <%= f.password_field :password, placeholder: "#{@minimum_password_length}~20文字", autofocus: true, autocomplete: "new-password", class: "form-control devise__form" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "新しいパスワード(再確認)" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control devise__form" %>
    </div>

    <div class="actions devise__button">
      <%= f.submit "保存", class: "btn btn-primary btn-lg btn-block" %>
    </div>
    <% end %>

    <%= render "users/shared/links" %>

  </div>
  <div class="col-xs-3"></div>
</div>