<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">

    <%= form_with model: @user, url: edit_admin_user_path(@user), local: true do |f| %>

    <div class="image-container">
      <%= f.file_field :profile_image, id: "img_field", style: 'display:none;' %>
      <%= attachment_image_tag @user, :profile_image, size: "400x200", fallback: "no_image.png", onClick: "$('#img_field').click()", class: "img_prev img-thumbnail" %><br>
    </div>

    <%= f.label :name, "氏名" %><br>
    <%= f.text_field :name, class: "form-control" %><br>

    <%= f.label :sex, "性別" %>
    <span class="devise__require-label">必須</span><br />
    <%= f.select :sex, User.sexes.keys, {prompt: "選択してください"}, class: "form-control devise__form" %>

    <%= f.label :introduction, "自己紹介" %><br>
    <%= f.text_area :introduction, class: "form-control" %><br>

    <%= f.label :postcode, "郵便番号" %><br>
    <%= f.text_field :postcode, class: "form-control" %><br>

    <%= f.label :prefecture_name, '都道府県' %><br>
    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, {prompt: "選択してください"}, class: "form-control" %><br>

    <%= f.label :address_city, "市区町村" %><br>
    <%= f.text_field :address_city, class: "form-control" %><br>

    <%= f.label :address_street, "番地" %><br>
    <%= f.text_field :address_street, class: "form-control" %><br>

    <%= f.label :address_building, "建物" %><br>
    <%= f.text_field :address_building, class: "form-control" %><br>

    <%= f.label :email, "メールアドレス" %><br>
    <%= f.email_field :email, class: "form-control" %><br>

    <%= f.label :point, "ポイント" %><br>
    <%= f.number_field :point, class: "form-control" %><br>

    <%= f.label :rank, "会員ランク" %><br>
    <%= f.select :rank, User.ranks.keys, {prompt: "選択してください"}, class: "form-control" %><br>

    <%= label_tag :会員ステータス %><br>
    <div class="admin-user__radio">
      <%= f.radio_button :is_valid, "有効" %>
      <%= f.label :is_valid, "有効", class: "admin-user__valid-label" %>
      <%= f.radio_button :is_valid, "退会済" %>
      <%= f.label :is_valid, "退会済" %><br>
    </div>

    <%= f.submit "保存", class: "btn btn-primary btn-block admin-user__button" %>

    <% end %>

  </div>
  <div class="col-xs-3"></div>
</div>