<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <table class="table table-bordered table-hove">
      <tbody>
        <tr>
          <th class="active">id</th>
          <td><%= @user.id %></td>
        </tr>

        <tr>
          <th class="active">登録日</th>
          <td><%= @user.created_at.to_s(:datetime_jp) %></td>
        </tr>

        <tr>
          <th class="active">最終更新日</th>
          <td><%= @user.updated_at.to_s(:datetime_jp) %></td>
        </tr>

        <tr>
          <th class="active">プロフィール画像</th>
          <td>
            <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
          </td>
        </tr>

        <tr>
          <th class="active">氏名</th>
          <td><%= @user.name %></td>
        </tr>

        <tr>
          <th class="active">自己紹介文</th>
          <td><%= @user.introduction %></td>
        </tr>

        <tr>
          <th class="active">住所</th>
          <td>
            <% if @user.postcode %>
            <%= @user.full_address %>
            <% end %>
          </td>
        </tr>

        <tr>
          <th class="active">メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>

        <tr>
          <th class="active">ポイント数</th>
          <td><%= @user.point %></td>
        </tr>

        <tr>
          <th class="active">会員ランク</th>
          <td><%= @user.rank %></td>
        </tr>

        <tr>
          <th class="active">会員ステータス</th>
          <td><%= @user.is_valid %></td>
        </tr>
      </tbody>
    </table>

    <%= link_to "編集", edit_admin_user_path(@user), class: "btn btn-primary btn-block" %>
    <%= link_to "退会", admin_user_path(@user), method: :delete, data: { confirm: "本当に退会させますか？" }, class: "btn btn-danger btn-block" %>

  </div>
  <div class="col-xs-2"></div>
</div>