<table class="table notification__table">
  <tbody>
    <tr>
      <td>
        <% visitor = notification.visitor %>
        <% visited = notification.visited %>

        <div class="col-md-6.mx-auto">
          <div class="form-inline">
            <%= link_to user_user_path(visitor) do %>
            <%= attachment_image_tag visitor, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", class: "img-circle", size: '40x40' %>
            <%= visitor.name %>
            <%= "さんが" %>
            <% end %>
            <% case notification.action when 'follow' %>

            <%= "あなたをフォローしました" %>

            <% when 'like' %>
            <%= link_to 'あなたの投稿', user_tourist_spot_review_path(notification.review, notification.review.tourist_spot), style: "font-weight: bold;" %>
            <%= "にいいねしました" %>

            <% when 'comment' %>
            <% if notification.review.user_id == visited.id %>
            <%= link_to "あなたの投稿", user_tourist_spot_review_path(notification.review, notification.review.tourist_spot), style: "font-weight: bold;" %>
            <% else %>
            <%= link_to user_tourist_spot_review_path(notification.review, notification.review.tourist_spot) do %>
            <%= notification.review.user.name + 'さんの投稿' %>
            <% end %>
            <% end %>
            <%= "にコメントしました" %>
            <p class="notification__comment">
              【コメント内容】<%= Comment.find_by(id: notification.comment_id)&.body %>
            </p>
            <% end %>
          </div>
        </div>
    </tr>
    </td>
  </tbody>
</table>