<!DOCTYPE html>
<html>

<head>
  <%= favicon_link_tag('favicon.ico') %>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= include_gon %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/c51513dd6c.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript">
  </script>
</head>

<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag asset_path("logo.png"), class: "header-logo" %>
          <% end %>
        </div>

        <div class="collapse navbar-collapse" id="navbarEexample7">
          <% if user_signed_in? %>
          <p class="navbar-text"><span>ようこそ</span>
            <%= link_to current_user.name, user_user_path(current_user) %> さん！
          </p>
          <% end %>

          <ul class="nav navbar-nav navbar-right">
            <% unless admin_signed_in? %>
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <i class="fas fa-list-ul"></i>
                <span>ジャンルから探す</span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                  <% Genre.all.each do |genre| %>
                  <%= link_to  genre.name, user_tourist_spot_genre_search_path(search: genre.id), class: "genre-link" %><br>
                  <% end %>
                </li>
              </ul>
            </li>

            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <i class="fas fa-bullseye"></i>
                <span>利用シーンから探す</span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                  <% Scene.all.each do |scene| %>
                  <%= link_to  scene.name, user_tourist_spot_scene_search_path(search: scene.id), class: "scene-link" %><br>
                  <% end %>
                </li>
              </ul>
            </li>
            <% end %>

            <% if user_signed_in? %>
            <li role="presentation" class="dropdown">
              <% if unchecked_notifications(current_user).present? %>
              <i class="fa fa-circle icon" style="color: gold;"></i>
              <% end %>
              <a class="dropdown-toggle link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <%= attachment_image_tag current_user, :profile_image, :fill, 25, 25, fallback: "no_image.jpg", size:'25x25', class: "img-circle" %>
                <span>アカウント</span>
                <span class="caret"></span>
              </a>

              <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                  <%= link_to user_user_path(current_user) do %>
                  <i class="fas fa-user"></i> マイページ
                  <% end %>
                </li>
                <li>
                  <% if unchecked_notifications(current_user).present? %>
                  <i class="fa fa-circle notification-icon" style="color: gold;"></i>
                  <% end %>
                  <%= link_to user_notifications_path, class: "notification-link" do %>
                  <i class="fas fa-bell"></i> 通知
                  <% end %>
                </li>
                <li>
                  <%= link_to user_rooms_path do %>
                  <i class="fas fa-envelope"></i> メッセージ
                  <% end %>
                </li>
                <li>
                  <%= link_to user_coupons_path do %>
                  <i class="fas fa-gift"></i> クーポン
                  <% end %>
                </li>
                <li>
                  <%= link_to user_user_favorite_tourist_spots_path(current_user) do %>
                  <i class="fas fa-star"></i> 行きたい観光スポット
                  <% end %>
                </li>
                <li>
                  <%= link_to user_user_went_tourist_spots_path(current_user) do %>
                  <i class="fas fa-check-circle"></i> 行った観光スポット
                  <% end %>
                </li>
                <li role="presentation">
                  <%= link_to edit_user_user_path(current_user) do %>
                  <i class="fas fa-user-cog"></i> プロフィール編集
                  <% end %>
                </li>
                <li role="presentation">
                  <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i> ログアウト
                  <% end %>
                </li>
              </ul>
            </li>

            <% elsif admin_signed_in? %>
            <li><%= link_to "ユーザー一覧", admin_users_path %></li>
            <li><%= link_to "観光スポット一覧", admin_tourist_spots_path %></li>
            <li><%= link_to "ジャンル一覧", admin_genres_path %></li>
            <li><%= link_to "利用シーン一覧", admin_scenes_path %></li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>

            <% else %>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
            <li><%= link_to "サイト説明", about_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
      <%= form_with url: user_tourist_spot_keyword_search_path, method: :get, local: true do %>
      <div class="row">
        <div class="col-xs-10 keyword-search">
          <%= text_field_tag :search, '', placeholder: "観光スポットキーワード検索", class: "form-control" %>
        </div>
        <div class="col-xs-2">
          <%= submit_tag '検索', name: nil, class: "btn btn-info btn-block" %>
        </div>
      </div>
      <% end %>

      <%= yield %>

      <span id="back">
        <a href="#">
          <%= image_tag "arrow.png" %>
        </a>
      </span>
    </div>
  </main>
  <footer>
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-sm-6 col-xs-12">
          <span class="logo">TaBi Share</span>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="menu">
            <span>Menu</span>
            <li>
              <%= link_to root_path do %>
              <i class="fas fa-home"></i> トップ
              <% end %>
            </li>
            <li>
              <%= link_to about_path do %>
              <i class="fas fa-info-circle"></i> サイト説明
              <% end %>
            </li>
            <li>
              <%= link_to new_user_tourist_spot_path do %>
              <i class="fas fa-pen-square"></i> 観光地登録
              <% end %>
            </li>
            <li>
              <a href="#">
                <i class="fas fa-file-alt"></i> 利用規約
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="address">
            <span>Contact</span>
            <li>
              <a href="https://twitter.com/program_5271">
                <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/matsubishi5/?hl=ja">
                <i class="fab fa-instagram-square" aria-hidden="true"></i> Instagram
              </a>
            </li>
            <li>
              <a href="https://github.com/matsubishi5">
                <i class="fab fa-github" aria-hidden="true"></i> GitHub
              </a>
            </li>
            <li>
              <%= link_to new_user_contact_path do %>
              <i class="fa fa-envelope" aria-hidden="true"></i> お問い合わせ
              <% end %>
            </li>
          </ul>
        </div>


      </div>
    </div>
  </footer>
</body>

</html>