<!DOCTYPE html>
<html>

<head>
  <title>TaBiShare</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= include_gon %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/c51513dd6c.js" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <%= link_to  "TaBi Share", root_path, class: "navbar-brand" %>
        <div class="collapse navbar-collapse" id="navbarEexample7">
          <% if user_signed_in? %>
          <p class="navbar-text"><span>ようこそ</span>
            <%= link_to current_user.name, user_user_path(current_user) %> さん！
          </p>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li><%= link_to "観光地一覧", user_tourist_spots_path %></li>
            <li>
            </li>
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <i class="fas fa-list-ul"></i>
                <span>ジャンルから探す</span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                  <% @genres.each do |genre| %>
                  <%= link_to  genre.name, user_genre_search_path(search: genre.id), class: "genre-link" %><br>
                  <% end %>
                </li>
              </ul>
            </li>
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <i class="fas fa-bullseye"></i>
                <span>利用シーンから探す</span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                  <% @scenes.each do |scene| %>
                  <%= link_to  scene.name, user_scene_search_path(search: scene.id), class: "scene-link" %><br>
                  <% end %>
                </li>
              </ul>
            </li>
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <%= attachment_image_tag current_user, :profile_image, :fill, 25, 25, format: 'jpeg', fallback: "no_image.jpg", size:'25x25', class: "img-circle" %>
                <span>アカウント</span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation"><%= link_to  "マイページ", user_user_path(current_user) %></li>
                <li><%= link_to "通知", user_notifications_path %></li>
                <li><%= link_to "行った観光スポット", user_went_tourist_spots_path %></li>
                <li><%= link_to "行きたい観光スポット", user_favorite_tourist_spots_path %></li>
                <li role="presentation"><%= link_to  "プロフィール編集", edit_user_user_path(current_user) %></li>
                <li role="presentation"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                <li><%= link_to "お問い合わせ", new_user_contact_path %></li>
              </ul>
            </li>
            <% else %>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
            <li><%= link_to "サイト説明", about_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
      <%= yield %>
    </div>
  </main>

  <footer>

  </footer>
</body>

</html>